APP_ENV=local
APP_DEBUG=true
APP_KEY=WaNiFZ4oj8i4VLVo4Tp5o2nmGLnsHywk

DB_HOST=localhost
DB_DATABASE=my_database
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=bezirovoviku@gmail.com
MAIL_PASSWORD=lwjuxhtxsymosncb
MAIL_ENCRYPTION=tls
